@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Clash Display", sans-serif;
  background-color: #f7fbfc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mail {
  position: relative;
  transform: scaleX(1);
  width: max-content;
}

.mail-black::before,
.mail-black::after {
  border-bottom: 3px solid black;
}

.mail-white::before,
.mail-white::after {
  border-bottom: 3px solid white;
}

.mail::before {
  content: "";
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  transform: scale(1, 1);
  transform-origin: right center 0;
  transition:
    left 0.2s ease-in-out,
    width 0.2s ease-in-out;
}
.mail:after {
  content: "";
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  transform: scale(1, 1);
  transform-origin: right center 0;
  transition:
    left 0.2s ease-in-out,
    width 0.2s ease-in-out;
  opacity: 0;
  transform: scale(0, 1);
  transform-origin: left center 0;
}

.mail:hover:before {
  width: 100%;
  left: 0;
  opacity: 0;
  transform: scale(1, 1);
}

.mail:hover:after {
  width: 100%;
  left: 0;
  opacity: 1;
  transform: scale(1, 1);
}

.mail:not(:hover):before {
  animation: slideOut 0.7s forwards;
}

@keyframes slideOut {
  0% {
    left: 0;
    width: 100%;
  }
  80% {
    left: 100%;
    width: 0;
  }
  85% {
    left: 0%;
    width: 0;
  }

  100% {
    left: 0;
    width: 30%;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(6.5px);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-cursor {
  position: absolute;
  top: -300px;
  left: -120px;
  width: 20px;
  height: 20px;
  background: white;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease,
    width 0.4s ease,
    height 0.4s ease;
  z-index: 9999;
}

/* Style pour le curseur lorsqu'il est sur la div ciblée */
.custom-cursor.active {
  opacity: 1;
  width: 60px;
  height: 60px;
  font-size: 14px;
  transition:
    opacity 0.4s ease,
    width 0.4s ease,
    height 0.4s ease,
    background-color 0.4s ease;
}
